.navbar {
  display: flex;

  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.877);
  color: rgba(255, 255, 255, 0.815);
  width: auto;
  height: 4.2rem;
  padding: 0 4.8rem;
  position: relative;
}
.navbar-list {
  display: flex;
}

.navbar-list ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  font-weight: 600;
  list-style: none;
}

.navbar-list a,
.navbar-list a:link,
.navbar-list a:visited {
  text-decoration: none;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.856);
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}
.navbar-list a:hover,
.navbar-list a:active {
  padding: 0.4rem;
  background-color: rgb(211, 31, 31);
}

.img-nav {
  height: 2.6rem;
  margin-top: 0.8rem;
  opacity: 85%;
}

@media screen and (max-width: 950px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 2.4rem;
  }
  .navbar-list {
    display: flex;
  }

  .navbar-list ul {
    gap: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .navbar-list a,
  .navbar-list a:link,
  .navbar-list a:visited {
    font-size: 1.1rem;
    font-weight: 550;
  }

  .img-nav {
    height: 2.2rem;
  }

  .navbar-list ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
